In [4]:
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import json

In [5]:
data = pd.read_csv('data/ks-projects-201612.csv')

/Users/travis/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data['dataset'] = 2016

In [7]:
data = data.iloc[:,:14]

In [8]:
data.columns = [x.strip() for x in data.columns]

In [9]:
data2 = pd.read_csv('data/ks-projects-201801.csv')

In [10]:
data2['dataset'] = 2018

In [11]:
data2 = data2.iloc[:,:14]

In [12]:
data2.columns = [x.strip() for x in data2.columns]

In [13]:
data = pd.concat([data, data2])

In [14]:
# data['goal'] = data['goal'].astype('float')

In [15]:
def make_fun(x):
    try:
        float(x)
        return 0
    except:
        return x

In [16]:
whats_up = data['goal'].apply(make_fun)

In [17]:
data[whats_up != 0].sample(5)

,ID,Unnamed: 13,backers,category,country,currency,deadline,goal,launched,main_category,name,pledged,state,usd pledged,usd_pledged_real
250924,562478730,0,failed,One Percent,0,Film & Video,USD,2013-01-07 00:35:26,10000,Documentary,Documentary about overcoming the odds,2012-12-08 00:35:26,0,US,NaN
190029,213156196,0,failed,Idea's database.,0,Technology,EUR,2016-06-15 19:13:11,155,Web,My Box For Ideas - www.myidealbox.com,2016-05-16 19:13:11,0,FR,NaN
84625,1502129617,172.829,failed,Beautiful enough for you but made for your pet,13,Fashion,CAD,2016-09-19 14:27:46,10000,Pet Fashion,Leo & Sam,2016-07-21 14:27:46,514,CA,NaN
150710,1895494481,7492,failed,Tap. Paint. Love!,107,Technology,USD,2014-05-28 15:57:05,20000,Technology,TapPainter,2014-04-23 15:57:05,7492,US,NaN
188111,2119851365,6136.68,successful,1st Birthday Celebration!,50,Art,AUD,2014-10-15 16:00:00,6600,Art,Heyokah Art House (ARI),2014-09-15 01:29:54,6790,AU,NaN

In [18]:
# data.to_csv('data/all_data.csv')

In [19]:
bad_data = data[whats_up != 0]

In [20]:
bad_data['category'].value_counts().head(10)

)                                                    7
-)                                                   4
 a short film                                        3
 an Art Exhibition                                   2
 Made in the USA                                     2
 Part 1                                              2
 give them a try!                                    2
 'Take Me Away' ... Become a part of Team Kerrin!    1
 Verger en Polyculture Orchard                       1
 Art Exposition + Book                               1
Name: category, dtype: int64

In [43]:
good_data = data[whats_up == 0]

In [44]:
good_data.shape

(701779, 15)

In [23]:
good_data['category'].value_counts().head(10)

Product Design    39791
Documentary       31030
Music             29634
Tabletop Games    24888
Shorts            24038
Food              22026
Video Games       21889
Film & Video      19315
Fiction           17400
Fashion           16464
Name: category, dtype: int64

In [24]:
cats = good_data['category'].unique()

(bad_data['usd pledged'] == 'failed').sum()

bad_data['name'] += bad_data['category']

/Users/travis/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
for i in range(2,len(bad_data.columns))[::-1]:
    bad_data[bad_data.columns[i-1]]

In [29]:
# good_data = good_data.iloc[:,:-1]

In [30]:
good_data.shape

(701779, 13)

In [31]:
# bad_data.sample(20)

In [46]:
cats= set(set(good_data['category'].value_counts()))

In [33]:
output = []
with open('data/ks-projects-201612.csv','r') as read_file:
    poop = read_file.read()
    cols = [x.strip() for x in poop.split('\n')[0].split(',')]
    for line in poop.split('\n')[1:]:
        try:
            cells = line.split(',')
            if cells[2] in cats:
                output.append({col:value for col,value in zip(cols, cells)})
            else:
                row_out = {}
                row_out[cols[0]] = cells[0]
                row_out[cols[1]] = cells[1]
                row_out[cols[2]] = cells[2] + cells[3]
                row_out[cols[3]] = cells[4]
                row_out[cols[4]] = cells[5]
                row_out[cols[5]] = cells[6]
                row_out[cols[6]] = cells[7]
                row_out[cols[7]] = cells[8]
                row_out[cols[8]] = cells[9]
                row_out[cols[9]] = cells[10]
                row_out[cols[10]] = cells[11]
                row_out[cols[11]] = cells[12]
                row_out[cols[12]] = cells[13]
                output.append(row_out)
        except:
            print line + 'poop'

poop

In [34]:
poop = pd.DataFrame(output)

In [35]:
bad_data['name'] += bad_data['category']

/Users/travis/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [36]:
cols

['ID',
 'name',
 'category',
 'main_category',
 'currency',
 'deadline',
 'goal',
 'launched',
 'pledged',
 'state',
 'backers',
 'country',
 'usd pledged',
 '',
 '',
 '',
 '']

In [37]:
for i in cats[2]

SyntaxError: invalid syntax (<ipython-input-37-15ce840f7b7b>, line 1)

In [ ]:
good_data['state'].value_counts(1)

In [38]:
(poop['goal'].apply(make_fun) == 0).sum()

17483

In [39]:
with open('data/ks-projects-201612.csv','r') as read_file:
    poop = read_file.read()

In [48]:
good_data.to_csv('data/data_nobadrows.csv')

In [32]:
data['ID'].unique().shape

(323750,)

In [88]:
data['category'].unique().shape

(772,)

In [89]:
data['main_category'].unique().shape

(120,)

In [368]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 702411 entries, 0 to 378660
Data columns (total 15 columns):
ID                  702411 non-null int64
Unnamed: 13         625 non-null object
backers             702411 non-null object
category            702406 non-null object
country             702411 non-null object
currency            702411 non-null object
deadline            702411 non-null object
goal                702411 non-null object
launched            702411 non-null object
main_category       702411 non-null object
name                702405 non-null object
pledged             702411 non-null object
state               702411 non-null object
usd pledged         694824 non-null object
usd_pledged_real    378661 non-null float64
dtypes: float64(1), int64(1), object(13)
memory usage: 85.7+ MB

In [144]:
%matplotlib inline