In [152]:
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import json

In [294]:
data = pd.read_csv('data/ks-projects-201612.csv')

In [295]:
data = data.iloc[:,:14]

In [296]:
data.columns = [x.strip() for x in data.columns]

In [297]:
data2 = pd.read_csv('data/ks-projects-201801.csv')

In [298]:
data2 = data2.iloc[:,:14]

In [299]:
data2.columns = [x.strip() for x in data2.columns]

In [300]:
data = pd.concat([data, data2])

In [302]:
# data['goal'] = data['goal'].astype('float')

In [303]:
def make_fun(x):
    try:
        float(x)
        return 0
    except:
        return x

In [304]:
whats_up = data['goal'].apply(make_fun)

In [305]:
data[whats_up != 0].sample(5)

,ID,Unnamed: 13,backers,category,country,currency,deadline,goal,launched,main_category,name,pledged,state,usd pledged,usd_pledged_real
32886,1195071984,2920.0614495,failed,),72,Design,SGD,2016-12-01 01:00:00,5000,Product Design,The Polyamorous Socks - It's always a good match,2016-11-01 16:15:07,3300,SG,NaN
165866,198656468,15097.1,successful,the Pocket sized Arduino compatible board,288,Technology,GBP,2014-11-10 02:51:56,3000,DIY Electronics,MangoCube,2014-10-11 02:51:56,9337,GB,NaN
175667,2045833448,1,failed,How To Protect Yourself,1,Publishing,USD,2014-10-23 06:44:06,25000,Publishing,Identity Theft Protector Book,2014-09-23 06:44:06,1,US,NaN
67749,1402949612,6,failed,DR Science,2,Publishing,USD,2015-11-29 18:11:49,6000,Academic,TL,2015-10-30 17:11:49,6,US,NaN
162995,1969492760,5275.01,successful,An Expeditionary Residency,69,Art,USD,2013-01-10 02:01:57,5000,Art,The Arctic Circle,2012-12-11 02:01:57,5275.01,US,NaN

In [306]:
# data.to_csv('data/all_data.csv')

In [307]:
bad_data = data[whats_up != 0]

In [347]:
bad_data['category'].value_counts().head(10)

)                                                    7
-)                                                   4
 a short film                                        3
 an Art Exhibition                                   2
 Made in the USA                                     2
 Part 1                                              2
 give them a try!                                    2
 'Take Me Away' ... Become a part of Team Kerrin!    1
 Verger en Polyculture Orchard                       1
 Art Exposition + Book                               1
Name: category, dtype: int64

In [348]:
good_data = data[whats_up == 0]

/Users/travis/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

IndexingError: Unalignable boolean Series key provided

In [349]:
good_data.shape

(701779, 15)

In [351]:
good_data['category'].value_counts().head(10)

Product Design    39791
Documentary       31030
Music             29634
Tabletop Games    24888
Shorts            24038
Food              22026
Video Games       21889
Film & Video      19315
Fiction           17400
Fashion           16464
Name: category, dtype: int64

In [312]:
cats = good_data['category'].unique()

(bad_data['usd pledged'] == 'failed').sum()

bad_data['name'] += bad_data['category']

In [290]:
for i in range(2,len(bad_data.columns))[::-1]
    bad_data[bad_data.columns[i-1]]

In [353]:
good_data = good_data.iloc[:,:-1]

In [354]:
good_data.shape

(701779, 14)

In [356]:
# bad_data.sample(20)

In [357]:
cats= set(set(good_data['category'].value_counts()))

In [417]:
output = []
with open('data/ks-projects-201612.csv','r') as read_file:
    poop = read_file.read()
    cols = [x.strip() for x in poop.split('\n')[0].split(',')]
    for line in poop.split('\n')[1:]:
        try:
            cells = line.split(',')
            if cells[2] in cats:
                output.append({col:value for col,value in zip(cols, cells)})
            else:
                row_out = {}
                row_out[cols[0]] = cells[0]
                row_out[cols[1]] = cells[1]
                row_out[cols[2]] = cells[2] + cells[3]
                row_out[cols[3]] = cells[4]
                row_out[cols[4]] = cells[5]
                row_out[cols[5]] = cells[6]
                row_out[cols[6]] = cells[7]
                row_out[cols[7]] = cells[8]
                row_out[cols[8]] = cells[9]
                row_out[cols[9]] = cells[10]
                row_out[cols[10]] = cells[11]
                row_out[cols[11]] = cells[12]
                row_out[cols[12]] = cells[13]
                output.append(row_out)
        except:
            print line + 'poop'

poop

In [418]:
poop = pd.DataFrame(output)

In [419]:
bad_data['name'] += bad_data['category']

/Users/travis/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [420]:
cols

['ID',
 'name',
 'category',
 'main_category',
 'currency',
 'deadline',
 'goal',
 'launched',
 'pledged',
 'state',
 'backers',
 'country',
 'usd pledged',
 '',
 '',
 '',
 '']

In [421]:
for i in cats[2]

SyntaxError: invalid syntax (<ipython-input-421-15ce840f7b7b>, line 1)

In [427]:
good_data['state'].value_counts(1)

failed        0.521446
successful    0.352015
canceled      0.101361
live          0.010298
undefined     0.010141
suspended     0.004738
Name: state, dtype: float64

In [424]:
(poop['goal'].apply(make_fun) == 0).sum()

17483

In [334]:
with open('data/ks-projects-201612.csv','r') as read_file:
    poop = read_file.read()

In [140]:
good_data.to_csv('data/data_nobadrows.csv')

In [32]:
data['ID'].unique().shape

(323750,)

In [88]:
data['category'].unique().shape

(772,)

In [89]:
data['main_category'].unique().shape

(120,)

In [368]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 702411 entries, 0 to 378660
Data columns (total 15 columns):
ID                  702411 non-null int64
Unnamed: 13         625 non-null object
backers             702411 non-null object
category            702406 non-null object
country             702411 non-null object
currency            702411 non-null object
deadline            702411 non-null object
goal                702411 non-null object
launched            702411 non-null object
main_category       702411 non-null object
name                702405 non-null object
pledged             702411 non-null object
state               702411 non-null object
usd pledged         694824 non-null object
usd_pledged_real    378661 non-null float64
dtypes: float64(1), int64(1), object(13)
memory usage: 85.7+ MB

In [144]:
%matplotlib inline