In [4]:
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import json

In [85]:
data = pd.read_csv('data/ks-projects-201612.csv')

In [86]:
data = data.iloc[:,:14]

In [87]:
data.columns = [x.strip() for x in data.columns]

In [88]:
data2 = pd.read_csv('data/ks-projects-201801.csv')

In [89]:
data2 = data2.iloc[:,:14]

In [90]:
data2.columns = [x.strip() for x in data2.columns]

In [91]:
data['dataset'] = 2016
data2['dataset'] = 2018

In [92]:
data = pd.concat([data, data2])

In [93]:
# data['goal'] = data['goal'].astype('float')

In [94]:
def make_fun(x):
    try:
        float(x)
        return 0
    except:
        return x

In [95]:
whats_up = data['goal'].apply(make_fun)

In [96]:
data[whats_up != 0].sample(5)

,ID,Unnamed: 13,backers,category,country,currency,dataset,deadline,goal,launched,main_category,name,pledged,state,usd pledged,usd_pledged_real
260138,617715586,4367,successful,I am Prisoner,37,Publishing,2016,USD,2011-11-14 23:00:00,4000,Nonfiction,I am Danger,2011-10-10 02:33:40,4367,US,NaN
111562,1662276614,1421,failed,a feature length HD film,31,Film & Video,2016,USD,2010-04-26 11:59:00,2200,Shorts,Finley Wade,2010-04-04 17:35:26,1421,US,NaN
258117,60596218,13436.602656755,successful,A miniature painting monograph.,732,Art,2016,EUR,2016-11-18 12:00:00,7500,Painting,Arsies' Painting Toolbox,2016-10-15 11:57:11,52670,ES,NaN
150479,189401226,7839,successful,an instructional video,174,Film & Video,2016,USD,2011-09-16 23:20:31,6000,Documentary,Bird Language with Jon Young,2011-08-02 23:20:31,7839,US,NaN
46987,1279208458,0,failed,Memoir of an 18 y.o fuck-up,0,Art,2016,USD,2015-08-12 18:03:38,500,Mixed Media,Dweling,2015-07-13 18:03:38,0,US,NaN

In [97]:
!False

In [98]:
# data.to_csv('data/all_data.csv')

In [99]:
bad_data = data[whats_up != 0]

In [100]:
bad_data['category'].value_counts().head(10)

)                                                    7
-)                                                   4
 a short film                                        3
 an Art Exhibition                                   2
 Made in the USA                                     2
 Part 1                                              2
 give them a try!                                    2
 'Take Me Away' ... Become a part of Team Kerrin!    1
 Verger en Polyculture Orchard                       1
 Art Exposition + Book                               1
Name: category, dtype: int64

In [101]:
good_data = data[whats_up == 0]

In [102]:
good_data.shape

(701779, 16)

In [103]:
good_data['category'].value_counts().head(10)

Product Design    39791
Documentary       31030
Music             29634
Tabletop Games    24888
Shorts            24038
Food              22026
Video Games       21889
Film & Video      19315
Fiction           17400
Fashion           16464
Name: category, dtype: int64

In [104]:
cats = good_data['category'].unique()

(bad_data['usd pledged'] == 'failed').sum()

bad_data['name'] += bad_data['category']

/Users/travis/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [105]:
for i in range(2,len(bad_data.columns))[::-1]:
    bad_data[bad_data.columns[i-1]]

In [106]:
# good_data = good_data.iloc[:,:-1]

In [107]:
good_data.shape

(701779, 16)

In [108]:
# bad_data.sample(20)

In [109]:
cats= set(set(good_data['category'].value_counts()))

In [110]:
output = []
with open('data/ks-projects-201612.csv','r') as read_file:
    poop = read_file.read()
    cols = [x.strip() for x in poop.split('\n')[0].split(',')]
    for line in poop.split('\n')[1:]:
        try:
            cells = line.split(',')
            if cells[2] in cats:
                output.append({col:value for col,value in zip(cols, cells)})
            else:
                row_out = {}
                row_out[cols[0]] = cells[0]
                row_out[cols[1]] = cells[1]
                row_out[cols[2]] = cells[2] + cells[3]
                row_out[cols[3]] = cells[4]
                row_out[cols[4]] = cells[5]
                row_out[cols[5]] = cells[6]
                row_out[cols[6]] = cells[7]
                row_out[cols[7]] = cells[8]
                row_out[cols[8]] = cells[9]
                row_out[cols[9]] = cells[10]
                row_out[cols[10]] = cells[11]
                row_out[cols[11]] = cells[12]
                row_out[cols[12]] = cells[13]
                output.append(row_out)
        except:
            print line + 'poop'

poop

In [111]:
poop = pd.DataFrame(output)

In [112]:
bad_data['name'] += bad_data['category']

/Users/travis/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [113]:
cols

['ID',
 'name',
 'category',
 'main_category',
 'currency',
 'deadline',
 'goal',
 'launched',
 'pledged',
 'state',
 'backers',
 'country',
 'usd pledged',
 '',
 '',
 '',
 '']

In [114]:
for i in cats[2]

SyntaxError: invalid syntax (<ipython-input-114-15ce840f7b7b>, line 1)

In [115]:
good_data['state'].value_counts(1)

failed        0.521446
successful    0.352015
canceled      0.101361
live          0.010298
undefined     0.010141
suspended     0.004738
Name: state, dtype: float64

In [116]:
(poop['goal'].apply(make_fun) == 0).sum()

17483

In [117]:
with open('data/ks-projects-201612.csv','r') as read_file:
    poop = read_file.read()

In [118]:
good_data.to_csv('data/data_nobadrows.csv')

In [32]:
data['ID'].unique().shape

(323750,)

In [88]:
data['category'].unique().shape

(772,)

In [89]:
data['main_category'].unique().shape

(120,)

In [368]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 702411 entries, 0 to 378660
Data columns (total 15 columns):
ID                  702411 non-null int64
Unnamed: 13         625 non-null object
backers             702411 non-null object
category            702406 non-null object
country             702411 non-null object
currency            702411 non-null object
deadline            702411 non-null object
goal                702411 non-null object
launched            702411 non-null object
main_category       702411 non-null object
name                702405 non-null object
pledged             702411 non-null object
state               702411 non-null object
usd pledged         694824 non-null object
usd_pledged_real    378661 non-null float64
dtypes: float64(1), int64(1), object(13)
memory usage: 85.7+ MB

In [144]:
%matplotlib inline